/*===================
  add_todo_section
===================*/
.add_todo_section{
    text-align: center;
}

.add_todo_section div{
    display: inline-block;
    margin: 0px;
    padding: 5px;
    border-radius: 20px 20px 0px 0px; 
    background-color: rgb(50, 170, 225);
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.add_todo_section p{
    margin: 0px;
}

.add_todo_section div span{
    display: inline-block;
    width: 42px;
    margin-right: 10px;
    border-radius: 1000px;
    background-color: white;
    color: rgb(50, 170, 225);
    font-size: 28px;
}

.add_todo_section form{
    display: inline-block;
    padding: 20px;
    background-color: rgb(50, 170, 225);
}

#todo_content{
    width: 600px;
    font-size: 22px;
}