/*==============================
    TodoInputComponent.vue
==============================*/
.input-wrap{
    position: fixed;
    width: 100%;
    height: 135px;
    background-color: rgb(179, 179, 179);
    bottom: 0px;
    margin-top: 0px;
    padding-top: 20px;
}


.input-up-wrap input{
    width: 54%;
    margin-left: 5%;
    margin-bottom: 0px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
}
.input-up-wrap button{
    border-radius: 3px;
    border-color: rgb(15, 122, 175);
    background-color: rgb(30, 144, 255);
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-left: 15px;
}
.input-up-wrap button:hover{
    background-color: rgb(18,122,189);
}


.input-bottom-wrap{
    display: inline-block;
    margin-left: 10%;
    margin-top: 0px;
}
.input-bottom-wrap span{
    font-size: 20px;
    color: white;
    margin: 0px 5px;
}
.input-buttom-wrap input{
    font-size: 20px;
    border-radius: 4px;
    border: none;
    text-align: center;
}
.input-bottom-wrap input{
    width: 27px;
    padding: 2px 3px;
    font-size: 20px;
    text-align: center;
}
.input-bottom-wrap .input-deadline-time{
    width: 64px;
    padding: 2px 10px;
}
.input-deadline-time::-webkit-calendar-picker-indicator{
    display: none;
}


.input-error-message{
    margin-left: 8%;
    color: rgb(248, 20, 20);
}